.App {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}
.display{
  width: 400px;
  height: 250px;
  margin-top: 10%;
  border: 1px solid black;
  border-radius: 6px;
}
.input-div{
  margin: 20px 0;
}
.input-div input{
  margin: 0 20px;
  height: 24px;
  padding: 0 5px;
}
.input-div button{
  height: 24px;
  padding: 5px;
}
span{
  margin: 0 15px;
}
.indicator ul li{
  list-style: none;
  padding:  5px 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
}
.indicator ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  cursor: pointer;
  }
.indicator{
  display: flex;
  justify-content: center;
}
span{
  cursor: pointer;
}

.answered{
  background-color: rgb(192, 223, 83);
}
.finished{
  display: none;
}
.doNotDisplay{
  display: none;
}
.displayResult{
  display: block;
}